body {
      background-color: #f4f4f4;
      margin: 0;
      font-family: 'Segoe UI', sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
     min-height: 100vh;
      padding: 20px;
    }

    .certificate {
      position: relative;
      width: 595px;
      height: 842px;
      background: #fff;
      box-shadow: 0 0 20px rgba(0,0,0,0.2);
      overflow: hidden;
    }
    .corner-block {
      position: absolute;
      width: 60px;
      height: 60px;
      background: #0c1b33;
      z-index: 1;
    }

    .gold-edge {
      position: absolute;
      background-color: #d4a017;
    }
    .tl-gold {
      top: 0;
      left: 0;
      width: 10px;
      height: 300px;
    }
    .tr-gold {
      top: 0;
      right: 0;
      width: 10px;
      height: 200px;
    }

    .bl-gold {
      bottom: 0;
      left: 0;
      width: 10px;
      height: 200px;
    }

    .br-gold {
      bottom: 0;
      right: 0;
      width: 10px;
      height: 300px;
    }

    .certificate-content {
      position: relative;
      z-index: 2;
      padding: 60px;
      text-align: center;
    }

    .logo {
      text-align: left;
      font-weight: bold;
      color: #0c1b33;
    }

    .title {
      margin-top: 40px;
      letter-spacing: 1px;
    }

    .title h1 {
      font-size: 2.5em;
      margin: 0;
      color: #2d2d2d;
      letter-spacing: 2px;
      margin-top: 10px;

    }

    .title h2 {
      font-size: 25px;
      font-weight: normal;
      letter-spacing: 3px;
      color: #888;
      margin-top: -1px;
    }

    .given {
      margin-top: 30px;
      font-size: 25px;
      color: #5c5c5c;
      letter-spacing: 2px;
    }

    .name {
      font-size: 30px;
      font-weight: bold;
      color: #2d2d2d;
      margin: 20px 0;
      border-bottom: 2px solid #d4a017;
      width:400px;
      display: inline-block;
      padding: 5px 30px;
    }

    .description {
      margin: 30px auto;
      max-width: 400px;
      font-size: 1em;
      color: #444;
      margin-top: -6px;
    }

    .date {
      margin-top: 10px;
      font-style: italic;
      color: #888;
    }

    .signatures {
      display: flex;
      justify-content: space-between;
      margin-top: 60px;
      padding: 0 20px;
    }

    .signature {
      text-align: center;
    }

    .signature-line {
      width: 150px;
      height: 2px;
      background: #d4a017;
      margin: 0 auto 5px;
    }
    .g1{
      height: 10px;
      width: 500px;
      background-color: #d4a017;
    }
    .g2{
      position: absolute;
      bottom: 0;
      right: 10px;
      width: 500px;
      height: 10px;
      background-color: #d4a017;
    
    }
.top-right-image {
 position: absolute;
 top: 0;
 right: 0;
 width: 150px; 
 height: auto;
 z-index: 4;
}
.bottom-left-image {
 position: absolute;
 bottom: 0;
 left: 0;
 width: 150px; 
 height: auto;
 z-index: 4;
}
